@import "tailwindcss";

@layer base {
  :root {
    font-family: "Pretendard", "Noto Sans KR", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-width: 320px;
  }

  code {
    font-family: "Fira Code", monospace;
  }
}
